<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Points game</title>

    <link href="lib/ionic/release/css/ionic.css" rel="stylesheet">
    <link href="dist/app.css" rel="stylesheet">
    <script src="lib/ionic/release/js/ionic.bundle.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
     <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="dist/app.js"></script>
</head>

<body ng-app="PointsGame">
<ion-view>
<ion-side-menus>

    <ion-side-menu-content ng-controller="MainCtrl as mainCtrl">
        <ion-header-bar class="bar-dark">
            <h1 class="title">Points Game</h1>
        </ion-header-bar>

        <ion-content class="stable-bg" scroll="false">
            <div class="row">
                <points-game-item points="50" bonus="200" every="3" value="A"></points-game-item>
                <points-game-item points="30" bonus="90" every="2" value="B"></points-game-item>
                <points-game-item points="20" value="C"></points-game-item>
            </div>
            <div class="row">
                <points-game-item points="15" value="D"></points-game-item>
                <points-game-item points="10" value="E"></points-game-item>
            </div>
        </ion-content>
    </ion-side-menu-content>


    <ion-side-menu side="right" expose-aside-when="large" ng-controller="SideCtrl as sideCtrl">
        <ion-header-bar class="bar-dark">
            <h2 class="title">Player items</h2>
        </ion-header-bar>

        <ion-content>
            <ul class="list">
                <li class="item item-divider">
                    <div class="row">
                        <div class="col">
                            Item
                        </div>
                        <div class="col">
                            Qty
                        </div>
                        <div class="col">
                            Score
                        </div>
                    </div>
                </li>
                <li ng-repeat="(key, item) in sideCtrl.items | orderBy:&apos;item.scored&apos;" class="item item-list">
                    <div class="row">
                        <div class="col">{{key}}</div>
                        <div class="col">{{item.quantity}}</div>
                        <div class="col">{{item.scored}}</div>
                    </div>
                </li>
            </ul>
        </ion-content>

        <ion-footer-bar align-title="left" class="bar-light bar-subfooter">
            <h3 class="title">Bonus: {{sideCtrl.total.bonus}}</h3>
        </ion-footer-bar>
        <ion-footer-bar align-title="left" class="bar-stable">
            <h3 class="title">Total: {{sideCtrl.total.score}}</h3>
            <button class="button button-positive pull-right" ng-click="sideCtrl.newGame()">
                New game
            </button>
        </ion-footer-bar>
    </ion-side-menu>

</ion-side-menus>
</ion-view>
</body>
</html>